/**
 * Site header
 */
.site-header {

    z-index: 4;
    position: relative;
    background-color: $brand-color;
    margin-bottom: 100px;

    height: 150px;
    @include media-query($on-palm) {
        height: 60px;
    }
    @include media-query($on-laptop) {
        height: 100px;
    }
    // Positioning context for the mobile navigation icon
    position: relative;
    &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          overflow: visible;
          width: 100%;
          height: 200px;
          margin-top: 20px;
          background: $brand-color;
          z-index: -1;
          -webkit-transform: skewY(-1.5deg);
          -moz-transform: skewY(-1.5deg);
          -ms-transform: skewY(-1.5deg);
          -o-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
          -webkit-backface-visibility: hidden;
          backface-visibility: initial;
        @include media-query($on-palm) {
            height: 100px;
        }
        @include media-query($on-laptop) {
            height: 150px;
        }
    }


    h1 {
        padding-top: 30px;
        font-size: 3em;
        line-height: 56px;
        letter-spacing: -1px;
        margin:0 0 10px 0;

        @include media-query($on-palm) {
            font-size: 1.8em
        }
        @include media-query($on-laptop) {
            font-size: 2.25em
        }
        .site-title {
            border-bottom: 3px solid $grey-color;

            &,
            &:visited {
                color: $grey-color-dark;
            }
            &:hover {
                font-weight: bold;
                text-decoration: none;
            }

        }
    }
    .site-desc {
        font-size: 1.5em;
        @include media-query($on-palm) {
            font-size: 1em
        }
        @include media-query($on-laptop) {
            font-size: 1.2em
        }
    }
}


.site-nav {
    position: absolute;
    top: 30px;
    right: 40px;
    line-height: 56px;
        @include media-query($on-palm) {
        top: 0;
        right: 0;
        width: 100%;
        height: 200px;
        z-index: 3;


    }

    .menu-icon {
       display: none;
        height: 40px;
        width: 40px;
        @include media-query($on-palm) {
            position: absolute;
            top: 15px;
            right: 10px;
            display: block;
        }
        .menu-icon-line {
            height: 6px;
            width: 30px;
            border-radius: 5px;
            background: $text-color;
            margin: 3px 0;

            &:first-of-type {
                transition: transform .6s;
                transform-origin: left top;
            }
            &:nth-of-type(2) {

            }
            &:last-of-type {
              transition: transform .6s;
              transform-origin: left bottom;
            }

        }

    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        font-size: 1.5em;


        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
        &:hover{
            font-weight: bold;
        }
        @include media-query($on-palm) {
            font-size: 1em;
            display: none;
        }
        @include media-query($on-laptop) {
            font-size: 1.2em;
        }
    }
}
.site-nav-active {

}

.profile-pic {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
